body, html {
    font-family: 'Montserrat', sans-serif;
    width:100%;
    height:100%;    
}
#body{
    max-width:100%;
    margin:auto;
}

/*Top-menu Style*/
#top-menu{
    height:auto;
    min-height: 60px;
}

#top-menu .logo img{
    float:left;
    margin-top:10px;
    width:14em;
    height:3em;
}

.nav-links{
    margin:-7px;
    overflow: hidden;
}

.nav-links a{
    float:right;
    display:block;
    text-decoration: none;
    color: #ddd;
    margin:25px 8px 0px 8px;
    font-size:15px;
}

.nav-links a:hover{
    background: transparent;
    color: #66ccff;
}

.nav-links a:active{
    background: transparent;
}

.navigation .toggle-navigation {
    display:none;
    float:right;
    margin:5px;
}

.dropdown{
    float:right;
    overflow:hidden;
}


.dropdown .dropbtn {
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}


.dropdown-content {
    display: none;
    position: absolute;
    min-width: 130px;
    margin-top:40px;
    padding-bottom:20px;
    background-color:rgba(5, 16, 32, 0.7);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #ddd;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: inherit;
}

@media screen and (max-width: 800px){
    .dropdown-content {
        position:relative;
        background-color:transparent;
        z-index: 1;
        margin-top:0px;
        padding-bottom:5px;
    }

    .dropdown-content a{
        padding:7px 0px 0px 20px;
    }
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 800px){
    #top-menu .logo img{
        width:13em;
        height:3em;
        margin:7px 0px 0px 7px;
    }

    .nav-links a {
        display: none;
    }

    .navigation .toggle-navigation {
        display: block;
        float:right;
        margin:15px 5px 0px 0px;
        cursor:pointer;
    }
    
    .responsive {
        position: absolute;
        width: 120px;
        height: 100%;
        padding-top:15px;
        background-color:rgba(5, 16, 32, 0.9);
      }
    
    .responsive a{
        color:#ddd;
        display:block;
        margin-top:5px;
    }

}

/*Landing/Main-content style*/
.landing-body{
    width:70%;
    background: url(../img/diarybg.jpg) no-repeat center;
}

@media (max-width: 800px){
    .landing-body{
        width: 95%;
        margin:0 auto;
    }
}

.main-content{
    float: right;
}
.main-content h1{
    color:#fff;
    font-weight: 600;
    font-size: 75px;
   
}
.main-content h5{
    color:#fff;
    font-size: 25px;
    
}

/*SignUp/Login form Style*/
.signup-body,
.login-body{
    width:70%;
    background-color:rgb(5, 16, 32);
}


@media (max-width: 800px){
    .login-body,
    .signup-body{
        width: 100%;
        margin:0 auto;
    }
}

.form-content{
	width:400px;
	height:auto;
	text-align:center;
    margin:0 auto;
    padding-top:135px;
	
}

.page-info{
    width:340px;
    margin: 0 auto;
    padding-top:55px;
}

.page-info p{
    color:gray;
    text-align: center;
}

.page-info a,
.form-reminder a{
    color:#fff;
    text-decoration: none;
}

.page-info a:hover,
.form-reminder a:hover{
    color:rgb(14, 144, 206);
    text-decoration: none;
}

.form-reminder{
    color:gray;
    display: flex;
    justify-content: space-between;
    width:330px;
    margin:0 auto;
    margin-top:15px;
}

.form-content .logo img{
    margin:0px 0px 25px 0px;
    width:17em;
    height:4em;
}

input[type="text"],input[type="password"]{
	height:45px;
	width:300px;
	font-size:14px;
	margin-bottom:5px;
    background-color: rgba(14, 28, 46);
    color:#fff;
	padding-left:40px;
    border-radius:5px;
    border:none;
}

.submit-btn{
    height:45px;
    width:340px;
	cursor:pointer;
    color:#fff;
    text-transform: uppercase;
	border-radius:5px;
	border:none;
	background-color:rgb(14, 144, 206);
}

.submit-btn:hover{
    background-color:rgba(14, 144, 206, 0.7);
}

/*Profile style*/
#menu {
    background-color:rgb(5, 16, 32);
    border-bottom: 1px solid #fff;
}

.profile-body #top-menu{
    height:auto;
    min-height: 65px;
    width: 70%;
    margin: 0 auto;
}

@media (max-width: 800px){
    .profile-body #top-menu{
        width: 95%;
        margin:0 auto;
        min-height: 60px;
    }
}

.profile-section {
    width:70%;
    min-height:85%;
    margin:0 auto;
}

@media (max-width: 800px){
    .profile-section {
        width:100%;
        margin:0 auto;
    }
}

.profile-content {
    margin:0 auto;
    border:1px solid #ddd;
    border-radius:5px;
}

#profile-pic{
    background: url(../img/background.png) no-repeat center;
}

#profile-pic img {
    height:160px;
    width:160px;
    border-radius:80px;
    border:2px solid transparent;
    margin:30px 0px -50px 25px;
}

.user-profile{
    width:90%;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    margin-top:45px;
}

@media (max-width: 800px){
    .user-profile{
        display: block;
      
    }
}


.user-info #username p {
    font-size:18px;
    margin-top:0px;
}

.user-info #status p {
    font-size:15px;
    padding-top:13px;
}

.edit-profile {
    margin:5px 0px 20px 25px;
}

#button{
    background-color:rgb(14, 144, 206);
    border: none;
    border-radius:5px;
    color: white;
    padding: 12px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

@media (max-width: 800px){
    .profile-content {
        text-align: center;
    }
    #profile-pic img {
        height:90px;
        width:90px;
        margin:50px 0px -50px 0px;
        border:2px solid #fff;
        border-radius:45px;
    }

    #username{
        margin:70px 0px 0px 0px;
    }
}

.nav-links li img {
    width:30px;
    height:30px;
    border-radius: 15px;
    margin-top:15px;
}

.entry-info span{
    color:rgb(14, 144, 206);
    font-weight:600;
}

.entry-info a {
    text-decoration:none;
    color:black;
}

/*Entry List Style*/
.entry-list-body #top-menu{
    height:auto;
    min-height: 65px;
    width: 70%;
    margin: 0 auto;
}

.entries-section {
    width:70%;
    min-height:80%;
    margin:0 auto;
}

@media (max-width: 800px){
    .entries-section {
        width:95%;
        margin:0 auto;
    }

    .entry-list-body #top-menu{
        width: 95%;
        margin: 0 auto;
    }

}

.entry-list{
    margin:25px 0px 25px 0px;
}

#entries p {
    margin:10px;
    font-size:25px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

td a {
    text-decoration: none;
    color:#000;
}

td a:hover {
    color:rgb(14, 144, 206);
}

tr:hover {
    background-color:#f5f5f5;
}

/*Entry Style*/
.entry-body #top-menu{
    height:auto;
    min-height: 65px;
    width: 70%;
    margin: 0 auto;
}

.entry-section {
    width:70%;
    min-height:80%;
    margin:0 auto;
}

@media (max-width: 800px){
    .entry-section {
        width:95%;
        margin:0 auto;
    }

    .entry-body #top-menu{
        width: 95%;
        margin: 0 auto;
    }

}

#edit-icons{
    margin:25px 5px 0px 0px;
}

#edit-icons i {
    color:rgb(14, 144, 206);
    margin:10px;
}

#edit-icons i:hover {
    color:rgb(5, 16, 32);
}

#entry-title {
    display: flex;
    justify-content: space-between;
}

/*New entry page style*/
.new-entry-body #top-menu{
    height:auto;
    min-height: 65px;
    width: 70%;
    margin: 0 auto;
}

.new-entry {
    width:60%;
    min-height:80%;
    margin:0 auto;
}

@media (max-width: 800px){
    .new-entry {
        width:95%;
        margin:0 auto;
    }

    .new-entry-body #top-menu{
        width: 100%;
        margin: 0 auto;
    }
}

.new-entry #new-entry-form {
    margin-top:20px;
}

.new-entry #form-input:focus{
    border-color:rgb(14, 144, 206);
}

.new-entry input[type="text"]{
	height:45px;
    width:95%;
	font-size:16px;
	margin-bottom:15px;
    background-color: #fff;
    padding-left:20px;
    border-radius:5px;
    border:1px solid #ddd;
}

.new-entry .submit-btn{
    height:45px;
    width:200px;
	cursor:pointer;
    color:#fff;
    margin-top:15px;
    text-transform: uppercase;
	border-radius:5px;
	border:none;
	background-color:rgb(14, 144, 206);
}

.new-entry textarea {
    width:95%;
    border:1px solid #ddd;
    border-radius:5px;
    font-size:16px;
    font-family: 'Montserrat', sans-serif;
    padding:8px 0px 0px 20px;
}
/*Footer style*/
#footer {
	background-color:rgb(5, 16, 32);
	padding: 15px 0 10px 0;
	width:100%;
	text-align: center;
	bottom:0;
}
#footer p {
	font-size: 13px;
	color: #bbb;
	margin-top: 10px;
	
}

#footer .footer-content{
    width:70%;
    margin:0 auto;
}